@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//###############STYLES###HERE###################

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;

  background{
    color: black;
    image: url('../images/mountains.jpg');
    size: cover;
    position: center;
    repeat: no-repeat;
    attachment: fixed;
  }
}

//###MISC#TEXT#STYLES###

.up{
  text-transform: uppercase;
}

.fancy-heading {
  display: block;
  position: relative;

  text-align: center;
  letter-spacing: 2px;

  z-index: 999;
}

//###MENU###

.sticky, .fixed{
  z-index: 2000;

  .top-bar {
    padding: 0 1em;

    ul li a {
      letter-spacing: 1px !important;
    }
  }
  .name h1{
    @extend .fancy-heading;
    color: $violet-light !important;
  }
}

//###SECTION#STYLES###
section.blocky, header, footer {
  display: block;
  box-sizing: border-box;

  position: relative;
  clear:both;

  margin: 0;
  padding: 1em;
  text-align: center;

  overflow: hidden;

  width: 100%;

  .row {
    margin-top: 3em;
    margin-bottom: 2em;
  }
}

//###HEADER###
header {
  width: 100%;
  height: auto;
  min-height: 100vh;

  background-color: $oil;
  background-image: url("../images/mountains.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  padding-top: 5vh;

  vertical-align: middle;

  h1 {
    @extend .fancy-heading;

    margin-bottom: 0.7rem;
  }

  h2 {
    @extend .fancy-heading;
    font-size: 3rem;

    margin-bottom: 9rem;
  }

  h3 {
    @extend .fancy-heading;
    font-size: 1.7rem;

    margin-bottom: 9rem;
  }

  button{
    position: relative;

    width: auto;
    height: auto;

    padding: 0.2rem 0.9rem;
    margin-bottom: 5rem;

    overflow: hidden;
    z-index: 1020;

    background-color: transparent !important;
    transition: all 0.13s ease-in !important;

    &:hover {
      background-color: $green-light !important;
      box-shadow: 0 0 8px $green-light;
    }

    a {
      @extend .fancy-heading;
      display: block;

      width: 100%;
      height: 100%;

      padding: 0;
    }

  }
}

.arrow {
  display: block;
  position: relative;

  width: auto;
  height: auto;

  margin-bottom: 5rem;

  z-index: 1010;
}

.darken {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-color: #004;
  opacity: 0.2;

  z-index: 1;
}

//###CALCULATOR###
.calculator {
  background-color: $green-light;

  height: auto;
  min-height: 50vh;

  .range-slider {
    text-align: left;
  }

  h1, h2, h3, h4, h5, h6 {
    @extend .fancy-heading;
    white-space: nowrap;
  }
  .pad {
    padding-top: 1rem;
  }
}

//###POINTS###
.points {
  height: auto;
  min-height: 50vh;

  background-color: $violet-lighter;
  background-image: url("../images/arctic.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}

//###FOOTER###
footer {
  background-color: $violet;
}
