doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    title CASH 4 HASH
    
    link(rel="stylesheet" href="stylesheets/app.css")
    
    //ANIMATE WOW
    link(rel = 'stylesheet' type = 'text/css' href = 'stylesheets/animate.css')
    
    //MODERNIZR
    script(src = "bower_components/modernizr/modernizr.js")
    script(src="bower_components/modernizr/modernizr.js")
    
    //Google Font "Roboto", cyrillic
    link(href='https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic' rel='stylesheet' type='text/css')
    
    //WOW
    script( src = "js/wow.min.js")
    script new WOW().init()
    
  body
    //MENU
    .sticky.contain-to-grid
      nav.top-bar(data-topbar role="navigation" data-options="sticky_on: [small, medium, large]")
        ul.title-area
          li.name
            a.pagescroll(href = "#top")
              //MENU TITLE
              h1.up Cash 4 Hash
          li.toggle-topbar.menu-icon
            //MENU TOGGLE BUTTON
            a(href = "#") Меню
        section.top-bar-section
          //MENU ITEMS
          ul.right
    
    //HEADER
    header
      h1.wow.fadeIn Ваши дела процветают,<br>если у вас достаточно денег,<br>чтобы получить кредит в банке.
      .darken
          
          
    //SCRIPTS
    //JQUERY
    script(src = "bower_components/jquery/dist/jquery.min.js")
            
    //JQUERY EASING
    script( src = "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
            
    //FOUNDATION
    script(src = "bower_components/foundation/js/foundation.min.js")
            
    //APP
    script(src = "js/app.js")
