doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    title CASH 4 HASH
    
    link(rel="stylesheet" href="stylesheets/app.css")
    
    //ANIMATE WOW
    link(rel = 'stylesheet' type = 'text/css' href = 'stylesheets/animate.css')
    
    //MODERNIZR
    script(src = "bower_components/modernizr/modernizr.js")
    script(src="bower_components/modernizr/modernizr.js")
    
    //Google Font "Roboto", cyrillic
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    
    //WOW
    script( src = "js/wow.min.js")
    script new WOW().init()
    
  body
    //MENU
    .sticky.contain-to-grid
      nav.top-bar(data-topbar role="navigation" data-options="sticky_on: [small, medium, large]")
        ul.title-area
          li.name
            a.pagescroll(href = "#top")
              //MENU TITLE
              h1.up Cash 4 Hash
          li.toggle-topbar.menu-icon
            //MENU TOGGLE BUTTON
            a(href = "#") Меню
        section.top-bar-section
          //MENU ITEMS
          ul.right
            li
              a(href = "#") Главная
            li
              a(href = "#") Как это работает
            li
              a(href = "#") О нас
            li
              a(href = "#")  Войти
    
    //HEADER
    header
      h1.up.wow.fadeInDown Российское Кредитное Общество
      h3.wow.fadeInDown Микрозаймы - быстро, легко и надежно.
      h2.wow.fadeInDown Ваши дела процветают,<br>если у вас достаточно денег,<br>чтобы получить кредит в банке.
      .darken
      button.round.wow.fadeInUp
        a.up(href = "#")
          h4 Создать Акканут
      .arrow.wow.fadeInUp
        img(src = "images/arrow.png")
    
    //###FORM###
    section.blocky.calculator
      .row
        .large-6.medium-6.small-12.columns.wow.fadeInLeft
          h2.text-left Рассчитать Заем:
        .large-6.medium-6.small-12.columns.pad.wow.fadeInRight
          h6.text-right Вы получите деньги уже через <strong>20</strong> минут
            
        .large-12.columns.wow.fadeInLeft
          h4.text-left Сколько Вы хотите взять взаймы ?
        .large-12.columns.wow.fadeInRight
          .row
            .large-11.medium-10.small-9.columns
              .range-slider.round(data-slider id="amount-silder" data-options="display_selector: #amount-output; start:5000; end: 30000; step: 100; initial: 5000;")
                span.range-slider-handle(role="slider" tabindex="0")
                span.range-slider-active-segment
            .large-1.medium-2.small-3.columns
              input(type="number" name="Amount" id="amount-output" value="5000")
    
        .large-12.columns.wow.fadeInLeft
          h4.text-left На какой срок Вы берете займ ?
        .large-12.columns.wow.fadeInRight
          .row
            .large-11.medium-10.small-9.columns
              .range-slider.round(data-slider id="days-slider" data-options="display_selector: #days-output; initial: 3; start: 3; end: 30;")
                span.range-slider-handle(role="slider" tabindex="1")
                span.range-slider-active-segment
            .large-1.medium-2.small-3.columns
              input(type="number" name="Days" id="days-output" value="3")
    
    //###POINTS###
    section.blocky.points
      .fullWidth
        .large-4.medium-4.small-12.columns.wow.fadeInLeft
          img(src = "images/p1.png")
          h2.wow.fadeInUp Безопасно
          h3.text-center.wow.fadeInUp Все транзакции надежно защищены и секретны.
        .large-4.medium-4.small-12.columns.wow.fadeInDown
          img(src = "images/p2.png")
          h2.wow.fadeInUp Выгодно
          h3.text-center.wow.fadeInUp Мы берем не более 1,5% в день.
        .large-4.medium-4.small-12.columns.wow.fadeInRight
          img(src = "images/p3.png")
          h2.wow.fadeInUp Быстро
          h3.text-center.wow.fadeInUp На оформление займа Вы потратите всего лишь 20 минут.

    //###FOOTER###
    footer
      .row
        .large-4.medium-6.small-12.columns.wow.fadeInDown
          h3 Мы в соц.сетях
        .large-4.medium-6.small-12.columns.wow.fadeInDown
          h3 Наши Партнеры
        .large-4.medium-12.small-12.columns.wow.fadeInDown
          h3 Свяжитесь с нами
    
    //SCRIPTS
    //JQUERY
    script(src = "bower_components/jquery/dist/jquery.min.js")
            
    //JQUERY EASING
    script( src = "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
            
    //FOUNDATION
    script(src = "js/foundation.min.js")
          
    //SMOOTHSCROLL
    script(src = "js/smoothscroll.js")
            
    //APP
    script(src = "js/app.js")
    
    //SLIDER
    script(src = "js/slider.js")
    
    //REFLOW SLIDER
    //script $document.foundation('slider', 'reflow');
